* {
 padding:0;
 margin:0;
}

body {
	font-family: 'helvetica neue',helvetica,arial,sans-serif;
	/*font-family: "Times New Roman", Times, serif;*/
	font-size: 75%;
 	background-color:white;
}

h1, h2, h3, h4, h5, h6 {
/*font-family: georgia,'times new roman',times,serif;*/
font-weight: normal;
line-height: 1em;
}


h1#headline {
text-align: center;
color:#3366CD;
font: 80px/1em Post, georgia, serif;
font-variant:small-caps;
text-transform: uppercase;
border-bottom:1px solid #666;

margin: 1.2em 0 0 0;
}

h2#headtitle {
font: 54px/1.25em PostSerifLight, georgia, 'times new roman', serif;
font-weight:lighter;
border-bottom:1px dotted #999;
padding: 0.5em 0 0 0;
}

h3 {
 padding:1em 0;
 text-transform: uppercase;
 font-weight: bold;
 font-size: 12pt;
 /*font: 20px/1em PostSerifLight, georgia, 'times new roman', serif;*/
}

h2 {
	/*font: 30px/1em PostSerifLight, georgia, 'times new roman', serif;*/
	font-size: 4.0em;
	text-transform: uppercase;
	text-align: center;

	margin: 0.2em 0 0 0;
	padding: 0.3em 0 0.5em 0;
	border-top: 1px dotted #999;
	border-bottom: 1px dotted #999;
}

/*article h4 {
	background-color:white;
	opacity:0.8;
	=position:absolute;
	top:0;
}*/

article img {
	margin-top:2em;
}

.center {
  background-color:white;
  width:940px;
  margin-left:auto;
  margin-right:auto;
}

.left {
  float:left;
}

.right {
  float:right;
}

.nvtooltip {
	border-radius:0;
	z-index:999;
	overflow:auto;
}


.hidden { display:none; position:absolute; }


#main {
width:940px;
}

#charts { 
	overflow:hidden;
	margin-left:20px;
}


#chart .nvtooltip {
	overflow:hidden !important;
	color:#456b92;
	left:0px !important;
	top:auto !important;
	bottom:350px !important;
	right:0 !important;
/*	background-color: #FFF;
	border: 1px solid #4f90CA;*/
}

#chart .nvtooltip h3{
	font-size: 8em;
	text-align:center;
	color: #fff;
	opacity: 0.80;
/*font-family: "Times New Roman", Times, serif;*/
}

#chart .nvtooltip p{
	color: #456b92;
	text-transform: capitalize;
	font-size: 1.8em;
	text-align: center;
	margin-bottom: 0.4em;
}

#charts .nvtooltip {
	margin-top: 230px;
	width: 100px;
}

#charts .nvtooltip h3{
	color: #456b92;
	margin-top: 90px;
font-size: 17px;
opacity: 0.8;
/*font-family: "Times New Roman", Times, serif;*/

}

#charts .nvtooltip p{
	color: #456b92;
	margin: 11em 0 0 0;
	font-size: 15px;
	opacity: 0.8;
	text-align: center;
}

#chart .canada path.nv-line {
	stroke-opacity:0;
}


#chart .labour-force path.nv-line {
	stroke-opacity:0;
}

.nvd3 .nv-groups .employment path.nv-line {
    fill: none;
  
    stroke-linecap: round;
    shape-rendering: geometricPrecision;
	
	stroke-width: 3px !important;

}

.nvd3 .nv-groups .full-time-employment path.nv-line {
    fill: none;
  
    stroke-linecap: round;
    shape-rendering: geometricPrecision;
	
	stroke-width: 2px !important;
	stroke-dasharray: 5,5 !important;
}

.nvd3 .nv-groups .part-time-employment path.nv-line {
    fill: none;
  
    stroke-linecap: round;
    shape-rendering: geometricPrecision;
	
	stroke-width: 2px !important;
	stroke-dasharray: 4,8 !important;
}

#charts .chart h5 {
	top:0;
	text-align:left;
	z-index:99;
	text-transform:lowercase;
	margin: 0 0 -1em 1.3em;
	font-variant:small-caps;
	height:20px;
	font-size:15px;
	font-weight:bold;
	width:80%;
}

#chart #hover path.nv-line {
	stroke:red;
	stroke-width:2px;
}

/*#ri-chart #hover path.nv-area {
	stroke:red;
	stroke-width:2px;
}*/

#ri-chart{
	margin: -6.2em 0 0 0;
}

#chart svg {
	overflow:hidden;
  height: 750px;
}

#charts .chart {
	width:180px;
	float:left;
	margin: 0 0 2em 0;
}
#charts .chart svg {
  height: 320px;
  width:20px;
}

#ri-chart svg {

	/*height:600px;*/
}


.fixed {
	position:fixed;
	top:0;
}

#scrollLock {
width: 100%;
/*text-align: center;*/
}

blockquote {
	font-family: "Times New Roman", Times, serif;
	font-style:italic;
	font-size:2.5em;
	text-align: center;
	line-height:1.4em;
	
	position:relative;
	margin: 0.6em 0 1.4em 0;
	padding: 0 0 0.6em 0;
	border-bottom:1px dotted #999;
}

.subtext h4{
	font-size: 1.2em;
	display: inline-block;
	/*font-family:"Times New Roman", Times, serif;*/
	text-transform: uppercase;
}

.subtext h5{
	font-size: 1.2em;
	float: right;
	/*font-family:"Times New Roman", Times, serif;*/
	text-transform: uppercase;
	white-space: nowrap;
	padding: 0 2.2em 0 0;
}

.subtext{
	margin: -0.3em 0 2em 0;
	display: inline;
}

.cline {
	stroke:red;
	stroke-opacity:0.7;
}

#rectangle{
	width: 20px;
	height: 10px;
	background: #4f90CA;
	float: left;
	margin: 0.01em 0.4em 0 0;
}

/* GRAPH STYLES */
.nv-controlsWrap{
	right:20px;
}

#ri-chart .nvtooltip {
	background-color: #456b92;
	border: 1px solid #4f90CA;
	/*font-family: "Times New Roman", Times, serif;*/
}

#ri-chart .nvtooltip h3{
	text-transform: none;
	
	/*font-family: "Times New Roman", Times, serif;*/
}

#ri-chart .nvtooltip p{
	font-style: italic;
}

#chart g .nv-legendWrap{
}

#graphtext{
	font-size: 4em;
	color: #FFF;
	position: relative;
	margin-left:auto;
	margin-right:auto;
	top: 10em;
	width:420px;

	letter-spacing: 0.3em;
}

#chart {
	position:relative;
	margin: 2em 0 0 0;
}

article{
	overflow:hidden;
	margin: 0 0 7em 0;
}